[submodule "pack/mypackages/start/vim-airline"]
	path = pack/mypackages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/mypackages/start/vim-syntastic"]
	path = pack/mypackages/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/mypackages/start/psc-ide-vim"]
	path = pack/mypackages/start/psc-ide-vim
	url = https://github.com/FrigoEU/psc-ide-vim.git
[submodule "pack/mypackages/start/purescript-vim"]
	path = pack/mypackages/start/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim.git
